body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.fade-enter-active, .fade-leave-active {
    transition: all .5s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    background-color: dodgerblue;
}

.mark-enter-active, .mark-leave-active {
    transition: all .5s ease;
}

.mark-enter, .mark-leave-to {
    opacity: 0;
}

.page-title {
    text-align: center;
}

.place-header {
    text-align: center;
}

.place-name {
    font-weight: bold;
}

.people-count {
    text-align: right;
}

.trend-indicator {
    text-align: center;
}

.mask-ratio {
    text-align: right;
}
